export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost:6404/socialnetwork?sslmode=disable"
export ENV="production"
export FROM_EMAIL="demo@demomailtrap.co"
export SENDGRID_APIKEY="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"
export MAILTRAP_APIKEY="d308b01b30ca9c36e9d428e8c7fc08fd"
